body {
    font-family: Arial;
    text-align: center;
    background: #f4f4f4;
}

h1 {
    color: #333;
}

input, select, button {
    padding: 10px;
    margin: 10px;
    width: 260px;
    font-size: 15px;
}

button {
    background: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

button:hover {
    background: #45a049;
}

#result {
    margin-top: 20px;
    color: black;
    font-weight: bold;
}

canvas {
    margin-top: 30px;
}